<nav class="navbar">
  <div class="grir-parent">
    <div class="grid-item">
      <div class="logo">
        <a href="/">
          <img src="/img/logo-header.svg" alt="logo">
        </a>
      </div>
      <div class="menu">
          <a href="/">Inicio</a>
          <a href="/blog">Blog</a>
      </div>
    </div>
  </div>
</nav>