---
layout: layout-page.njk
title: Página de inicio
description: Meta descripción de la página de inicio
---

<section class="index-principal">
  <div class="box-texto">
    <h1>Blog de las notas de los Lenguajes</h1>
    <a href="/blog">BLOG</a>
  </div>
  <div class="box-img sombra-inferior">
    <img
      src="https://images.pexels.com/photos/6424587/pexels-photo-6424587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="img"/>
  </div>
</section>